body {
	margin-top: 20px;
	margin-bottom: 64px;
	padding-left: 64px;
	padding-right: 64px;
	font-family: var(--serif);
	font-size: 19px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--sans-serif);
}

:root {
	--body-color: #444;
	--body-background-color: -apple-system-text-background;
	--accent-color: rgba(8, 106, 238, 1);
	--block-quote-border-color: rgba(8, 106, 238, .50);
	--serif: "Iowan Old Style", serif;
	--sans-serif: "Seravek", sans-serif;
}

@media(prefers-color-scheme: dark) {
	:root {
		--body-color: #d2d2d2;
		--body-background-color: #2d2d2d;
		--accent-color: rgba(94, 158, 244, 1);
		--block-quote-border-color: rgba(94, 158, 244, .50);
		--header-table-border-color: rgba(255, 255, 255, 0.1);
	}
}

body a, body a:visited {
	color: var(--accent-color);
}

body p {
	line-height: 1.5;
}

pre {
	border: 1px solid var(--accent-color);
	padding: 10px;
	max-width: 100%;
  overflow: auto;
}

blockquote {
	font-style: italic;
}

img {
	max-width: 100%;
	height: auto;
}

.nnw-overflow table {
	border: 1px solid var(--accent-color);
}